body
{
    background-color: gray;
    font-family: sans-serif;
}
::selection{
    background-color:#123259;
    color:#fff;
}
aside ::selection{
    color:#123259;
    background-color:#fff;
}
.container
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 1000px;
    background-color: white;
    display:flex;
    background-color:#123259;
}
.container > aside
{
    display:flex;
    width: 300px;
    flex-direction: column;
}
.imgBlock
{
    width: 300px;
    height: 300px;
    background-color:#082346;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
   }
.imgBlock span
{
    color:#ffffff;
}
.personalPhoto{
    width: 120px;
    height: 150px;
}
.myPersonalData
{ 
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
     
}
.aboutMe
{   
    font-size: 15px;
    color: black;
    margin:0;
    color: #d1d2d4;
    padding-bottom: 25px;
}
aside h2
{
    font-size: 22px;
    font-weight: bold;
    margin:0;
    color: #ffffff; 
    padding-bottom: 15px;

}
.imgBlock > b
{
    color: white;
}


.mainContent
{  
    width: 550px;
    background-color:#ffffff;
    padding-top: 40px;
    padding-left: 50px;
    
    

}
.mainContent p 
{
    font-weight: bold;
    color:#57585a;
}
.mainContent h3
{
    color: #3e3e3f;
}
.mainContent > ul > li
{
    color: #6c6d70;
    
}

.rightSide h2
{
    font-size: 30px;
    font-weight: bold;
    margin:0;
    padding-bottom: 10px;
    padding-top: 20px;
}
h3
{
    font-size: 20px;
    font-weight: 700;
    margin:0;

}
h3 span
{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #6c6d70;
}
.flags
{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top:10px;
    
}
.flags > div
{
    margin-right: 100px;
    padding-bottom: 10px;

}
.flags img
{
    width: 180px;
    height: 120px;
}
.flags > div span
{
    color: #808285;
    font-size: 12px;
    
}
.lang
{
    color: #57585a;
    margin: 0;
    padding-top:10px;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.rodo
{   width: auto;
    height: auto;
    color: #b0b0b2;
    text-align: justify;
    padding: 10px;
   
    
}
.rodo p
{
    margin: 0px;
    font-size: 13px;
}
@media(max-width:940px)
{
    .container
    {
    display: block;
    width: 600px;
    height: auto;
    }
    aside
    {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:640px)
{
    .container
    {
    display: block;
    width: auto;
    height: auto;
    }
    .mainContent
    {
        width: auto;

    }
}
@media(max-width:600px)
{
    .mainContent{
        padding-left: 10px;
        padding-right: 10px;
    }
    .flags{
        flex-direction: column;
    }
    .flags > div{
        margin-right: 0;
    }
}
@media(max-width:360px)
{
   .container> aside{
        width: auto;
    }
    .imgBlock
    {
        width: auto;
    }
}